{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievers Nursing College, Akure</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logos_content">
                <img src="{% static './assets/achieverslogo.jpg' %}" alt="" class="logo" />
                <span>Achievers Nursing College</span>
            </div>

            <ul  id="upper-links">
                <li><a href="#">student</a></li>
                <li><a href="#">faculty & staff</a></li>
                <li><a href="#">alumni</a></li>
                <li><a href="#">contact AU</a></li>
                <li><a href="#">Apply Now</a></li>
            </ul>

            <!-- <img
                src="{% static 'assets/icons8-menu-bar-30.png' %}"
                alt=""
                class="menu-icon"
                onclick="toggleMenu()"
            /> -->

            <i class="fas fa-bars" id="menu-icon"></i>
        </nav>

        <div class="lower-links">
            <a href="#">news</a>
            <a href="#">events</a>
            <a href="#">academics</a>
            <a href="#">research</a>
            <a href="#">healthcare</a>
            <a href="#">campus life</a>
            <a href="#">admission</a>
            <a href="#">about</a>
        </div>
    </header>

    
    <div>
        <section class="home" id="home">
            <div class="content">
                <h3>Achievers College of Nursing, Akure</h3>
            </div>
        </section>
    

        <section class="mission" id="mission">
            <div class="content">
                <h3>mission</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate saepe quia, 
                    id minus asperiores itaque inventore numquam, 
                    qui architecto enim illo. Minus iste iure vitae 
                    accusamus rem corporis tempora expedita!...</p>

                <button src="#" class="btn">Read More</button>
            </div>

            <img class="mission_image" src="{% static 'assets/beds.jpg' %}" alt="">
        </section>
 </div>

 <footer>
    <div class="wrapper">
        <div class="card">
            <div class="logos_content">
                <img src="{% static './assets/achieverslogo.jpg' %}" alt="" class="logo" />
                <span>Achievers Nursing College</span>
            </div>

            <div class="div">
                <i class="fas fa-globe"></i>
                <span>KM 1, Idasen/Uteh Road, Owo, Ondo State, Nigeria.</span>
            </div>

            <div>
                <i class="fas fa-phone"></i>
                <span>Justina: 0703-847-7064, Alaba: 08037062508</span>
            </div>

            <div>
                <i class="fas fa-envelope"></i>
                <span>info@achievers.edu.ng</span>
            </div>

            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>

        <div class="card">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">student</a></li>
                <li><a href="#">faculty & staff</a></li>
                <li><a href="#">alumni</a></li>
                <li><a href="#">contact AU</a></li>
                <li><a href="#">apply now</a></li>
            </ul>
        </div>

        <div class="card">
            <h4>Academics</h4>
            <ul>
                <li><a href="#">undergraduate programme</a></li>
                <li><a href="#">postgraduate study</a></li>
                <li><a href="#">diplomas & certificates</a></li>
                <li><a href="#">news pubication</a></li>
                <li><a href="#">accomodation</a></li>
                <li><a href="#">staff directories</a></li>
                <li><a href="#">pubications</a></li>
            </ul>
        </div>
    </div>

    <hr />

    <p class="copyright">&copy 2024: Eyitayo Olonilua (oloniluaeyitayo@gmail.com)</p>
 </footer>



    
</body>
<script src="{% static './js/script.js' %}"></script>
</html>{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievers Nursing College, Akure</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logos_content">
                <img src="{% static './assets/achieverslogo.jpg' %}" alt="" class="logo" />
                <span>Achievers Nursing College</span>
            </div>

            <ul  id="upper-links">
                <li><a href="#">student</a></li>
                <li><a href="#">faculty & staff</a></li>
                <li><a href="#">alumni</a></li>
                <li><a href="#">contact AU</a></li>
                <li><a href="#">Apply Now</a></li>
            </ul>

            <!-- <img
                src="{% static 'assets/icons8-menu-bar-30.png' %}"
                alt=""
                class="menu-icon"
                onclick="toggleMenu()"
            /> -->

            <i class="fas fa-bars" id="menu-icon"></i>
        </nav>

        <div class="lower-links">
            <a href="#">news</a>
            <a href="#">events</a>
            <a href="#">academics</a>
            <a href="#">research</a>
            <a href="#">healthcare</a>
            <a href="#">campus life</a>
            <a href="#">admission</a>
            <a href="#">about</a>
        </div>
    </header>

    
    <div>
        <section class="home" id="home">
            <div class="content">
                <h3>Achievers College of Nursing, Akure</h3>
            </div>
        </section>
    

        <section class="mission" id="mission">
            <div class="content">
                <h3>mission</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate saepe quia, 
                    id minus asperiores itaque inventore numquam, 
                    qui architecto enim illo. Minus iste iure vitae 
                    accusamus rem corporis tempora expedita!...</p>

                <button src="#" class="btn">Read More</button>
            </div>

            <img class="mission_image" src="{% static 'assets/beds.jpg' %}" alt="">
        </section>
 </div>

 <footer>
    <div class="wrapper">
        <div class="card">
            <div class="logos_content">
                <img src="{% static './assets/achieverslogo.jpg' %}" alt="" class="logo" />
                <span>Achievers Nursing College</span>
            </div>

            <div class="div">
                <i class="fas fa-globe"></i>
                <span>KM 1, Idasen/Uteh Road, Owo, Ondo State, Nigeria.</span>
            </div>

            <div>
                <i class="fas fa-phone"></i>
                <span>Justina: 0703-847-7064, Alaba: 08037062508</span>
            </div>

            <div>
                <i class="fas fa-envelope"></i>
                <span>info@achievers.edu.ng</span>
            </div>

            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>

        <div class="card">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">student</a></li>
                <li><a href="#">faculty & staff</a></li>
                <li><a href="#">alumni</a></li>
                <li><a href="#">contact AU</a></li>
                <li><a href="#">apply now</a></li>
            </ul>
        </div>

        <div class="card">
            <h4>Academics</h4>
            <ul>
                <li><a href="#">undergraduate programme</a></li>
                <li><a href="#">postgraduate study</a></li>
                <li><a href="#">diplomas & certificates</a></li>
                <li><a href="#">news pubication</a></li>
                <li><a href="#">accomodation</a></li>
                <li><a href="#">staff directories</a></li>
                <li><a href="#">pubications</a></li>
            </ul>
        </div>
    </div>

    <hr />

    <p class="copyright">&copy 2024: Eyitayo Olonilua (oloniluaeyitayo@gmail.com)</p>
 </footer>



    
</body>
<script src="{% static './js/script.js' %}"></script>
</html>